.footer {
  background-color: #5abd5a;
  color: #fff;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

main {
  margin-bottom: 30px;
}

.social-networks {
  width: 125px;
  font-size: 24px;
}

.justify-space-between {
  display: flex;
  justify-content: space-between;
}
